{% extends 'base.html.twig' %}


{% block title %}Immobilier à vendre dans le village{% endblock %}



{% block stylesheets %}
<style>
  /* **************************Design Article****************************** */
  /* Tous les block code de cette section servent a créer le design qui entoure les article */
  /* dans la section des dernier article publié */
  /* ou quand l'user fait une recherche*/

  /* 1er container de l'article */
  .articlePublie {
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid;
    border-color: rgb(195, 195, 195);
    padding: 5%;
    /* c'est ce code qui met la distance entre 2 articles: */
    margin-bottom: 30px;
  }

  /* c'est le 2éme container de l'article, juste apres le container "articlePublie" */
  #containerInArticle {
    position: relative;
    width: 100%;
    height: 97%;
  }

  #containerImgArticle {
    position: relative;
    background-color: sandybrown;
    width: 100%;
    height: 37%;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid;
    border-color: rgb(195, 195, 195);
  }

  #containerTextArticle {
    position: relative;
    width: 100%;
    height: 62%;
    overflow: hidden;
    border: 1px solid;
    border-color: rgb(195, 195, 195);
    border-radius: 0px 0px 10px 10px;
    background-color: white;
  }

  #containerTitleArticle {
    height: 13%;
    width: 100%;
    background-color: rgb(230, 230, 230);
  }

  #containerTitleArticle h5 {
    position: absolute;
    left: 20px;
    top: 5px;
  }

  #textArticle {
    overflow: hidden;
    width: 100%;
    height: 75%;
    padding-left: 15px;
    padding-right: 15px;
  }

  #containerTagArticle {
    padding-top: 7px;
    padding-left: 15px;
    width: 100%;
    height: 7%;
  }

  #containerBtnReadNextArticle {
    width: 100%;
    height: 6%;
  }


  #btnReadNextArticle {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
</style>

{% endblock %}

{% block body %}


<!-- *************************************************** Jumbotron -->

<!--L'attribut style du code suivant avec ces caractéristiques sert à supp le padding ajouté par le container bootstrap,
mais cette méthode comporte des défaults -> trouver autre solution  -->
<div class="jumbotron" style="width: 102.8%; left: -1.3%; position: relative;">

  <h1 class="display-4">Liste des biens à vendre dans le village:</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  
  <h3>Rechercher le bien qui vous convient</h3>

  <br>

  {{ form_start(form) }}

  <p>Surface minimum:</p>
  {{ form_row(form.minSurface) }}

  <p>Prix maximum:</p>
  {{ form_row(form.maxPrice) }}

  {{ form_rest(form) }}
  <br>
  <button type="submit" class="btn btn-primary">Rechercher</button>
  {{ form_end(form) }}

</div>

<!-- **************************** fin jumbotron -->

<br><br>

<div class="container">
  <h2>Les derniers biens à vendre dans le village:</h2>
  <br><br>
  <div class="row flex">
    {% for property in properties  %}
    <div class="col-4 ">

      <article id="articlePublie" class="articlePublie">
        <div id="containerInArticle">
          <div id="containerImgArticle">
            <!-- Si le bien n'a pas de lien filename enregistré dans la bdd, alors prndre l'image par défautl:-->
            {% if property.filename == null %}
            <img src="{{ asset('uploads/properties_img/5522558784596.png' ~ property.filename) }}" alt=""
              style="width: 100%; height: 100%; border-radius: 10px 10px 0px 0px;">
            {% endif %}
            <!-- Si le bien a un lien filename enregistré dans la bdd:-->
            {% if property.filename != null %}
            <img src="{{ asset('uploads/properties_img/' ~ property.filename) }}" alt=""
              style="width: 100%; height: 100%; border-radius: 10px 10px 0px 0px;">
            {% endif %}
          </div>
          <div id="containerTextArticle">
            <div id="containerTitleArticle">
              <h5>{{ property.title }}</h5>
            </div>
            <br>
            <div id="textArticle">
              <p>&nbsp; &nbsp;{{ property.surface }} m2 - {{ property.city }} ({{ property.postalCode }})</p>
              <p>&nbsp; &nbsp;{{ property.description }}</p>
            </div>
            <div id="containerBtnReadNextArticle">
              <div id="btnReadNextArticle">
                <a href="{{ path('PropertyShow', {id: property.id})}}">Voir le bien</a>
              </div>
            </div>
          </div>
        </div>
        <div id="containerTagArticle">
          <!-- <p>Tag: </p> -->
        </div>
      </article>
      
    </div>
    {% endfor %}

  </div>

  <br><br>

  <div class="navigation ">
    {{ knp_pagination_render(properties) }}
  </div>


</div>

<br>
<br>
<br>
<br>
{% endblock %}