{% extends 'base.html.twig' %}

{% block title %}Gestion des Utilisateurs{% endblock %}

{% block body %}




<div class="jumbotron" style="width: 102.8%; left: -1.3%; position: relative;">
<!-- <br><br> -->
    <h1 class="display-4">Gestion des Utilisateurs</h1>
    <hr class="my-4">
</div>
 

<br><br>

 <a class="btn btn-primary" href="{{ path('user_new') }}">Creer un nouvel utilisateur</a>

<br><br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
